.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  margin-top: 0;
}

.footer{
    position:absolute;
    bottom:auto;
    width:100%;
    min-height:100px;   /* Height of the footer */
    background: #282c34;
}

.navImg{
  width: 25%;
  margin-top: 50px;
}

.navLogo{
  font-family: 'Knewave', cursive;
  font-size: 3rem;
  color:darkcyan;
  margin: 2%;
}

.navLinks{
  text-decoration: none;
  position:relative;
  top:0;
  right: 0;
}

.logoHeader{
  font-family: 'Knewave', cursive;
  font-size: 3rem;
  color:white;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4G8qi5-o-0jzyG4Rylf8D2fJAxjvM4JSRhg&usqp=CAU');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 70%;;
}
.gobble{
  font-size: 2.5rem;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 2%;
  width: 30%;
  text-align: center;
  
}

.quoteAuthor{
  font-size: 2rem;
  margin: auto;
  margin-top: 3%;
  width: 30%;
  text-align: center;
  
}

.enterBtn{
  background-color:rgb(86, 187, 187);
  /* font-family: 'Knewave', cursive; */
  color: rgb(237, 247, 248);
  border:solid darkcyan;
  border-radius: 5%;
  padding:20px;
  font-size: 3rem;
  margin: 40px;
  width: 20%;
}

.restName {
  font-family: 'Knewave', cursive;
  font-size: 3rem;
  margin:6rem auto 0 ;
 
}

.restImage{
  border-radius: 1%;
}

p{
  width: 40%;
  text-align: center;
  margin:auto;
  margin-bottom: 40px;

}

.reviewBtn{
  margin:20px;
  margin-top: 0px;;
  padding:.5rem;
  border-radius: 5%;
  font-size: 18px;
  background-color: darkcyan;
  color: white;
  font-weight: 600;
}

.backBtn{
  margin:20px;
  padding:10px;
  width: 60px;
}

.addBtn{
  margin:20px;
  margin-top: 0px;;
  padding:.5rem;
  border-radius: 5%;
  font-size: 18px;
  background-color: darkcyan;
  color: white;
  font-weight: 600;
  width: 7%;
}

.inputForm{
  width: 20%;
  height:40px;
  font-size: 16px;
  margin:1px; ;
  background-color: azure;
  border: solid darkcyan;
}

.NewRestForm{
  width: 20%;
  height:30%;
  font-size: 16px;
  margin:1px; ;
  background-color: azure;
  border: solid darkcyan;
}

.NewRestForm2{
  width: 30rem;
  height:10rem;
  font-size: 16px;
  margin:1px; ;
  background-color: azure;
  border: solid darkcyan;
}

